:root {         /* root for variables */
  /* color palette */
  --strips: #2a2a69;
  --text-light: #b9b8b4;
  --backgrounds: #1f1a1af3;
  --brightborder: #df9100;
  --primary-highlight: #8b0000;
  --secondary-hightlight: #2a85ec;
}

body {
  color: var(--text-light);
  background-color: var(--backgrounds);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  text-decoration: none;
}

.nav-list {
  list-style: none;
  list-style-type: none;
  display: flex;   
}

.nav-item {
  size: 300px;
  text-decoration: none;
  color: var(--secondary-hightlight);
}

.nav-item:hover {
  color: var(--primary-highlight);
}

.header {
  font-size: 36px; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgrounds);
}

.heading-container {
  padding-left: 2%;
}

.nav-container {
  align-items: center;
  padding-right: 2%;
}

.heading-link { 
  text-decoration: none;
  color: var(--secondary-hightlight);
}

.heading-link:hover {
  color: var(--primary-highlight);
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding-left: 50px;
}

.active {
  text-shadow: 0px 0px 10px var(--brightborder);
}

.header {
  width: 100%;
}

.header img {
  width: 100%; /* so image does not cause scrolling */
  max-width:  100px; /* so image doesn't scale too large */
  border-radius: 50%;
}

.footer {
  background-color: var(--backgrounds);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-container {
  align-self: center;
  display: flex;
  justify-content: center;
}

.footer-link {
  color: var(--text-light);
  padding-left: 1%;
  padding-right: 1%;
}

.aboutme {
  text-indent: 30px;
}

.content {
  font-size: 24px;
  width: 100%;
  padding: 0 2%;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-around;
}

.portfolio-item {
  margin: 2%;
  max-width: 600px;
  max-height: 400px;
  overflow: hidden;
}

.error {
  color: var(--primary-highlight);
}

.hidden {
  display: none;
}

.contact {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}

.text-input {
  min-width: 100px;
  max-width: 200px;
  height: 20px;
}

.contact textarea {
  min-width: 50%;
  width: 800px;
  max-width: 100%;
  height: 200px;
}

.contact h2 {
  font-size: 50px;
}

.contact label {
  font-size: 35px;
}

.submit-button {
  background-color: var(--strips);
  color: var(--text-light);
  font-size: 20px;
  border-style: groove;
  border-color: var(--backgrounds);
  border-radius: 5%;
  cursor: pointer;
}

.disabled {
  opacity: 50%;
}

.resume {
  width: 96%;
  padding: 0 2%;
  font-size: 20px;
}

.resume h1 {
  font-size: 36px;
}

.resume h2 {
  font-size: 24px;
}